body {
    background: lightgrey url("images/background.jpg") center;
}

h2, h3{
    color: lightcoral;
}

p {
    color: white;
}

label {
    font-size: x-large;
    color: white;
}

.fa-edit {
    margin-top: 0.2em;
    margin-left: 0.5em;
    font-size: x-large;
    color: red;
}

.fa-trash {
    font-size: xx-large;
    color: red;
}